<div class="container mt-5 mb-5">
<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title fade-in"><b>Education</b></div>
        <div class="card fade-in">
            <div class="row">
                <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2021-2022</p>
                    <div class="h5">FULL STACK DEVELOPER</div>
                    </div>    
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">FULL STACK DEVELOPER (MEAN)</div>
                            <h6 class="category">ICT Academy Kerala</h6>
                            <h6>About to complete the certified course in MEAN Stack Developer.</h6>
                        </div>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2015</p>
                        <div class="h5">BTech</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Electronics and Communication Engineering</div>
                                <h6 class="category">Vidya Academy Of Science and Technology</h6>
                                <h6>Completed  BTech with 61.40% aggregate.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-info" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2009-2011</p>
                        <div class="h5">Plus Two</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Higher Secondary School</div>
                            <h6 class="category">Vivekodayam Boys Higher Secondary School</h6>
                            <h6>Completed  Plus Two Biology Science with 75% aggregate.</h6>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">SSLC</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School</div>
                                <h6 class="category">N S S V H S S Mundathicode</h6>
                                <h6>Completed SSLC with 93% aggregate.</h6>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>                                         